# Task1:

In [ ]:
1)Installed Jupyter notebook.

2)Write a program which will find all such numbers which are divisible by 7 but are not a multiple
  of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
  comma-separated sequence on a single line.

In [10]:

def divfunc():
    empty_array=[]

    for x in range(2000, 3200):
        if (x%7==0) and (x%5 !=0):
            empty_array.append(str(x))
    print(empty_array)
    
divfunc()

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']

3)Write a Python program to accept the user's first and last name and then getting them printed in
  the the reverse order with a space between first name and last n

In [39]:

def reverse_name(name):
    name2=""
    for c in name:
        name2 = c+ name2
    return name2

def reverse_using_split(name):
    name2=name[::-1]
    return name2

name= input("enter your name")
print(reverse_name(name))
print(reverse_using_split(name))

enter your nameyolo bana
anab oloy
anab oloy

4)Write a Python program to find the volume of a sphere with diameter 12 cm.
  Formula: V=4/3 * π * r^3

In [81]:
    
def volume_sphere(n):
     n1=int(n)
     square=n1**3
     import math
     total=(4.0/3)*(square)*(math.pi)
     print(total)

print(volume_sphere(12))

7238.229473870883
None

# Task 2:

5)Write a program which accepts a sequence of comma-separated numbers from console and
  generate a list.

In [3]:

numbers = input("Input some comma separated numbers : ")
list = numbers.split(",")
print('List : ',list)

Input some comma separated numbers : 3,5,99,89,77,86,89,88,63,55,44
List :  ['3', '5', '99', '89', '77', '86', '89', '88', '63', '55', '44']

6)Print the following pattern:

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [4]:

def func_star__left_triangle(n):
    
    for i in range(1,n+1):
        print(""*(n-i)+ '* '*(i))
        
    for i in range(n-1,0,-1):
        print(""*(n-i)+ '* '*(i))
        
func_star__left_triangle(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

7)Write a Python program to reverse a word after accepting the input from the user.
  Sample Output:
  Input word: AcadGild
  Output: dilGdacA

In [7]:

def reverse_input(input):
    input2=""
    for c in name:
        input2 = c+ input2
    return input2

name= input("enter your name: ")
print(reverse_input(input))

enter your name: michael lobo
obol leahcim

In [ ]:
8)Write a Python Program to print the given string in the format specified in the ​ sample output.
  WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
  SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
  its citizens

  Sample Output:
  WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute India into a SOVEREIGN, !
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
    and to secure to all its citizens

In [16]:

print("WE, THE PEOPLE OF INDIA", "\n" " having solemnly resolved to constitute India into a SOVEREIGN, ! ", "\n", "    SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC", "\n", "and to secure to all its citizens")

WE, THE PEOPLE OF INDIA
 having solemnly resolved to constitute India into a SOVEREIGN, !
     SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 and to secure to all its citizens